Localization
{
	ru
	{
		#MissingHistory_liquidEngine303_title = ЖРД LV-303 "Мопс"
		#MissingHistory_liquidEngine303_desc = Какой хорошенький малыш! Он уже готов сделать свой первый шаг в космос в качестве основного двигателя последней ступени. У него даже есть свои топливные баки в виде забавных маленьких шариков. Правда, как у всякого малыша, у "Мопса" есть трудности с ориентацией в пространстве, поэтому без двигателей РСУ или гиродинов его лучше не использовать.

		#MissingHistory_liquidEngineT15_title = ЖРД LV-T15 "Храбрец"
		#MissingHistory_liquidEngineT15_desc = Первая (ну, первая, которая перестала взрываться на старте) модель из знаменитой серии двигателей "LV". Вполне способна поднять небольшую ракету вверх. В базовую комплектацию включены такие удобства, как регулирование тяги и изменение направления её вектора.

		#MissingHistory_pointyNoseConeA_1p5_title = Улучшенный носовой обтекатель - тип A-XL
		#MissingHistory_pointyNoseConeA_1p5_desc = Увеличенная 1,875-метровая версия распостранённого улучшенного носового обтекателя, тип A.

		#MissingHistory_pointyNoseConeB_1p5_title = Улучшенный носовой обтекатель - тип B-XL
		#MissingHistory_pointyNoseConeB_1p5_desc = Увеличенная 1,875-метровая версия распостранённого улучшенного носового обтекателя, тип B.

		#MissingHistory_MediumOreTank_title = Контейнер среднего размера
		#MissingHistory_MediumOreTank_desc = Контейнер среднего размера для хранения сырья и, возможно, печенек к чаю.

		#MissingHistory_probeStack_1p5_title = Блок удалённого управления RC-001M
		#MissingHistory_probeStack_1p5_desc = Увеличенная 1,875-метровая версия распостранённого блока удалённого управления RC-001S.

		#MissingHistory_reactionWheel_1p5_title = Средний улучшенный гиродин
		#MissingHistory_reactionWheel_1p5_desc = Уменьшенная 1,875-метровая версия распостранённого большого улучшенного гиродина.

		#MissingHistory_ServiceBay_187_title = Служебный отсек (1,875 м)
		#MissingHistory_ServiceBay_187_desc = Увеличенная 1,875-метровая версия распостранённого 1,25-метрового служебного отсека.

		#MissingHistory_solidBooster_1p5_title = Твердотопливный ускоритель RT-25 "Топтун"
		#MissingHistory_solidBooster_1p5_desc = Более тяжёлая, но менее устойчивая 1,875-метровая версия распостранённого твердотопливного ускорителя RT-30 «Кувалда».

		#MissingHistory_xenonTank_1p5_title = Гигантский баллон с ксеноном PB-X1500
		#MissingHistory_xenonTank_1p5_desc = Увеличенная 1,875-метровая версия распостранённого баллона с ксеноном PB-X750.

		#MissingHistory_battery_1p5_title = Аккумуляторная батарея Z-2K
		#MissingHistory_battery_1p5_desc = Увеличенная 1,875-метровая версия распостранённой аккумуляторной батареи Z-1K.

		#MissingHistory_commandPod_1p5_title = Командный отсек Mk2-B "Палики"
		#MissingHistory_commandPod_1p5_desc = Немного более приземистый и широкий, чем командный отсек Mk2, в то же время обеспечивает более лучший обзор для экипажа. Подходит как для орбитальных полётов, так и в качестве спускаемого аппарата.

		#MissingHistory_crewCabin_1p5_title = Кабина автостопщиков PPD-7 "Безбилетник"
		#MissingHistory_crewCabin_1p5_description = Более компактная версия кабины PPD-10. Идеально подходит для непродолжительных и несерьёзных полетов. По требованию заказчика может быть оборудована за отдельную оплату дополнительной звукоизоляцией, заглушающей вопли пассажиров.
		
		#MissingHistory_CargoStorageUnit_1p5_title = Грузовой контейнер "СЕК-3"
		#MissingHistory_CargoStorageUnit_1p5_description = 1,875-метровая версия грузового контейнера, для случаев, когда хочется взять в полёт еще пару - другую запасных свитеров, но свободного места не так много, чтобы у Джеба появился соблазн забрать с собой в космос весь гардероб.

		#MissingHistory_1p5_2_adapter_short_title = Переходник для топливных баков FL-A215S
		#MissingHistory_1p5_2_adapter_short_desc = Укороченная версия распостранённого переходника для топливных баков FL-A215.
		
		#MissingHistory_KANDL_title = Радиоизотопный ракетный двигатель "Свеча"
		#MissingHistory_KANDL_desc = Этот компактный ядерный двигатель - уменьшенная версия двигателя LV-N «Нерв». Тяга - весьма скромная, но для спутников вполне достаточно.

		#MissingHistory_BKN_title = Тяжёлый ядерный ракетный двигатель BKN-7 "Маяк"
		#MissingHistory_BKN_desc = Утяжелённый 1,875-метровый аналог двигателя LV-N «Нерв». Обладает большим, чем у "Нерва", удельным импульсом, большей тягой, но в то же время - и большим расходом топлива.
	}
}
